{% extends 'layout.jinja2' %}
{% block container %}
    <div class="row">
        <div class="col-xs-2">
            <a href="{{request.route_url('list_books')}}" class="btn btn-primary">Powrót</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form action="{{ request.route_url('add_book_post') }}" method="POST">
                <div class="form-group">
                    <label>Autor książki</label>
                    <input type="text" name="book_author" placeholder="Autor książki" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Nazwa ksiażki</label>
                    <input type="text" name="book_name" placeholder="Nazwa ksiażki" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Rok wydania</label>
                    <input type="number" name="book_year" placeholder="Rok wydania" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj książkę" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
{% endblock %}