{% extends 'layout.jinja2' %}
{% block container %}
    <div class="row">
        <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="4">
                        <a href="{{request.route_url('add_book')}}" class="btn btn-success btn-xs">Dodaj ksiażkę</a>
                    </td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <th>Nazwa</th>
                    <th>Rok wydania</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book[1] }}</td>
                        <td>{{ book[2] }}</td>
                        <td>{{ book[3] }}</td>
                        <td>
                            <a href="{{ request.route_url('delete_book', book_id=book[0]) }}" class="btn btn-danger btn-xs">Usuń</a>
                            <a href="{{ request.route_url('edit_book', book_id=book[0]) }}" class="btn btn-success btn-xs">Edytuj</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            Brak ksiażek w katalogu
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}