{% macro render_flash(key, cls) %}
{% if request.session.peek_flash(key) %}
    {% for msg in request.session.pop_flash(key) %}
        <div class="alert alert-{{ cls }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ msg }}
        </div>
    {% endfor %}
{% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Strona abc</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{request.route_url('logout')}}">Wyloguj</a></li>
        </ul>
        </div>
    </nav> 
    <div class="container">
    {{ render_flash('', 'info') }}
    {{ render_flash('info', 'info') }}
    {{ render_flash('success', 'success') }}
    {{ render_flash('warning', 'warning') }}
    {{ render_flash('error', 'danger') }}
        {% block container %}{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>